/*SAJÁT FONTKÉSZLET*/
@font-face {
    font-family: "szoveg";
    src: url('fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: "menu";
    src: url('fonts/Raleway-Heavy.ttf');
}

@font-face {
    font-family: "cimsor";
    src: url('fonts/Raleway-Bold.ttf');
}

@font-face {
    font-family: "lablec";
    src: url('fonts/Raleway-Light.ttf');
}

@font-face {
    font-family: "idezet";
    src: url('fonts/Raleway-Thin.ttf');
}


/*Ez biztosítja, hogy az elemekhez tartozó padding és border a width és height értékekhez is.
    Ennek hiányában az elemek átcsúszhatnak a következő sorba*/

* {
    box-sizing: border-box;
}

html {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    /*finomabban görög le*/
}

body {
    background-color: #b5e1f7;
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1em;
    line-height: 1.5em;
    /*másfeles sorköz*/
    font-family: "szoveg";
    /*alapértelmezett is, balra igazított szöveg*/
}


/*FEJLÉC LOGÓVAL*/
.fejlec {
    background-color: white;
    width: 100%;
    height: 347px;
    padding-top: 30px;
    /*fejléc ne legyen rögtön az oldal szélén, hanem legyen körülvéve üres résszel*/
    text-align: center;
}

.logo {
    max-height: 315px;
}


/*MENÜ*/
#menu a {
    display: flex;
    justify-content: center;
    margin: 10px;
    /*legyen kezdetben kívül a képernyőn*/
    padding: 15px;
    transition: 0.5s;
    width: 70vw;
    background-color: #42abe0d4;
    border-radius: 5px;
    color: white;
    font-size: 19px;
    /*nagyobb*/
    font-family: "menu";
    text-align: center;
    text-decoration: none;
    /*ne legyen aláhúzás*/
    opacity: 0;
}

#menu a:hover {
    background-color: #267ba6;
    /*ha fölé megyek egérrel, sötétebb lesz a színe*/
}


#menu a.animation {
    animation: slideIn 0.5s ease-in-out forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#menu a.animation:nth-child(1) {
    animation-delay: 0.5s;
}

#menu a.animation:nth-child(2) {
    animation-delay: 1s;
}

#menu a.animation:nth-child(3) {
    animation-delay: 1.5s;
}

#menu a.animation:nth-child(4) {
    animation-delay: 2s;
}

#menu a.animation:nth-child(5) {
    animation-delay: 2.5s;
}

/*jelenjenek meg a menüszalagok, ne legyenek már eltolva*/



/* The about link: 20px from the top with a green background */
#hirek {
    top: 360px;
    /*+345*/
}

#palyazat {
    top: 420px;
}

#gyik {
    top: 480px;
}

#usa {
    top: 540px;
}

#bemutatkozas {
    top: 600px;
}




/**/

.reszponziv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/*fehér dobozok középen legyenek*/



.jobboldal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0px;
    padding: 10px;
}

.flex-container,
.oszlopok,
aside {
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 97%;
    margin: 10px;
}



.sorban {
    display: block;
    align-items: flex-start;
}

article {
    justify-content: center;
    padding: 10px;
    text-align: justify;
}

p {
    margin: 0px;
    padding: 3px 20px;
}

.mese {
    margin-bottom: 20px;
}


a {
    color: #267ba6;
    text-decoration: none;
}

a:hover {
    color: rgb(3, 52, 85);
}



.hirek {
    background: white;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 20px;
    padding: 2%;
    width: 100%;
}


h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #267ba6b7;
    font-size: 2em;
    font-family: "cimsor";
    width: 100%;
    margin: 10px;
    padding: 10px;
    line-height: 1.5;
}

.kozepso-cim header {
    border: 4px solid #267ba6b7;
    border-radius: 4px;
    padding: 10px;
}

.kozepso-cim {
    text-decoration: none;
}

.kozepso-cim header:hover {
    border: 4px solid #267ba6;
}

.kozepso-cim:hover h1 {
    color: #267ba6;
}

h2,
.kerdesek {
    font-size: 1.2em;
    font-family: "cimsor";
    margin: 10px;
    padding: 2px 15px;
    line-height: 1.5em;
    text-align: left;
}

.kerdesek {
    text-align: left;
}

h3 {
    font-size: 1.5em;
    font-family: "cimsor";
    text-transform: uppercase;
    margin: 0px;
    padding: 15px;
    align-items: center;
}

img {
    vertical-align: middle;
}



figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2%;
}


.zoom {
    display: flex;
    align-items: center;
    min-width: .5vw;
    max-width: 80%;
    text-align: center;
    margin: 0px auto 10px auto;
    transition: transform 1s;
    border-radius: 4px;
}

.zoom:hover {
    transform: scale(1.03);
}

figcaption {
    text-align: center;
    font-size: 0.7em;
    font-style: italic;
    line-height: 1em;
    margin: 10px;
}





/*nem vagyok benne biztos, hogy ez kell*/


.oszlop {
    padding: 5px;
    border: 2px solid #a9a9a9;
    border-radius: 4px;
    box-shadow: 6px 6px #a9a9a9;
    /*doboz árnyéka*/
    margin: 20px;
}


hr {
    border: 2px solid #a9a9a9;
    border-radius: 4px;
    width: 98%;
}


/*galleria------------- reszponziv legyen!!!*/

.galleriam,
.oldalgalleriam {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 10px;
    /* Center the gallery horizontally */
    height: 95vh;
    /* Set the height as a percentage of the viewport width */
    max-height: 320px;
    width: 70vw;
    /* Make the gallery container responsive */
    max-width: 600px;
}

.oldalgalleria {
    justify-content: center;
}



/* Additional styling for images within the gallery */
.galleriam img,
.oldalgalleriam img {
    max-width: 100%;
    /* Ensure images don't exceed the container width */
    max-height: auto;
    /* Maintain aspect ratio of images */
}




/*TÁMOGATÁS*/
aside {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    /*ez miz jelent pontosan*/
    justify-content: center;
    margin: 20px;
    padding: 20px;
    max-width: fit-content;
    text-align: center;
}


















.fizetes {
    background-color: #a9a9a9;
    /*ide rendes színt*/
    color: black;
    display: block;
    flex-wrap: nowrap;
    margin: 10px;
    padding: 6px;
    border-radius: 5px;
    line-height: 2em;
    text-decoration: none;
}

.paypal {
    height: 18px;
}

.kozepre {
    text-align: center;
}


/*socialmedia*/
.ikonok {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 0px;
}


.ikonok a {
    display: inline-block;
    padding: 20px;
}

.ikonok a img {
    -webkit-transition: all 500ms ease;
    /*mit jelent pontosan és mire jó*/
    transition: all 500ms ease;
    display: block;
    width: 45px;
    height: 45px;
}

.ikonok a:hover img {
    transform: scale(1.4);
}

.socialmedia {
    background-color: #267ba6b7;
    /*ide rendes színt*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
}

.socials {
    cursor: pointer;
    height: 30px;
}




/*FELIRATKOZÁS A HÍRLEVÉLRE*/
.hirlevel {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "szoveg";
    margin: 0px;
    padding: 10px;
    max-width: 500px;
}

#feliratkozas div {
    display: flex;
    flex-direction: column;
}

.urlap {
    background-color: #c1d3dc67;
    font-family: "szoveg";
    margin: 6px;
    padding: 6px;
    border: none;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    justify-content: center;
}

form div {
    margin: 10px 0px;
    max-width: 100vw;

}


.label.error {
    color: #B55567;
}


.kicsi {
    font-size: 0.8em;
    font-style: italic;
    margin-bottom: 10px;
}

.felirat {
    padding: 6px;
    text-align: center;
}









.gomb {
    background-color: #42abe0d4;
    color: white;
    position: relative;
    text-align: center;
    font-size: 1em;
    font-family: "szoveg";
    text-decoration: none;
    padding: 10px;
    width: max-content;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    overflow: hidden;
    /*ez mit jelent*/
    cursor: pointer;
    /*mutató kis kezecske jelenik meg*/
    border: none;
    border-radius: 5px;
}

.gomb:hover {
    background-color: #267ba6;
}






/*LÁBLÉC*/
footer {
    background-color: #42abe086;
    width: 100%;
    /*faltól falig érjen*/
    padding: 0px 15px 5px;

    display: flex;
    align-items: center;
    flex-direction: column;

    font-size: 0.7em;
    font-family: "lablec";
}

footer div {
    padding-top: 10px;
    /*legyen egy kis hely a footer tetején*/
}

footer div p,
footer div h2 {
    text-align: center;
    /*szövegek középre telefonon*/
}

footer h2 {
    margin-bottom: 0px;
}

footer div button {
    margin-top: 10px;
}


/*VISSZA A TETEJÉRE GOMB A LÁBLÉCBEN*/
#tetejere {
    background-color: rgba(48, 137, 181, 0.605);
    width: 130px;
    height: 30px;
    padding: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 12px;
    font-family: "szoveg";

    cursor: pointer;

    border: none;
    border-radius: 5px;
}

#tetejere:hover {
    background-color: rgb(3, 52, 85);
    color: white;
}

.visszanyil {
    max-height: 10px;
}






/*bemutatkozashoz*/
.idezet {
    font-family: "idezet";
    font-size: 1.1em;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin: 0px 70px;
    padding: 10px;
}

.fontos {
    font-weight: bold;
    font-size: 1.2em;
    color: rgb(3, 52, 85);
}







/*---reszponzivitás------------------
-----------------------------------------------------
------------------------------------------
-----------------------------------------
------------------------------------------------

/*A @media szabályt használja arra, hogy olyan változásokat írjon le, amelyek csak bizonyos feltételek mellett érvényesek.*/

@media only screen and(min-width: 600px) {
    /* tabletre */
}


@media only screen and (min-width: 768px) {
    /* számítógépre */

    /*FEJLEC*/
    .fejlec {
        height: 325px;
    }

    .logo {
        height: 265px;
        padding-left: 60px;
    }


    /*MENU**/
    #menu a {
        position: absolute;
        left: 0px;
        width: 220px;
        border-radius: 0px 5px 5px 0px;
        margin: 0px;
        opacity: 1;
    }

    #menu a.animation {
        animation: none;
    }

    #hirek {
        top: 15px;
    }

    #palyazat {
        top: 75px;
    }

    #gyik {
        top: 135px;
    }

    #usa {
        top: 195px;
    }

    #bemutatkozas {
        top: 255px;
    }







    /*oszlopok*/
    .oszlopok {
        display: flex;
        flex-basis: 33.33%;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
    }

    .oszlop {
        width: 50%;
    }


    .kontent {
        display: flex;
        flex-direction: column;
    }


    /*Támogatás mellette legyen*/

    .reszponziv {
        padding-top: 0px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
    }

    .jobboldal {
        flex-basis: 70%;
        max-width: 65%;
    }

    aside {
        max-width: 30%;
    }

    .hirek {
        width: 100%;
    }

    .socialmedia {
        flex-direction: row;
    }

    .ikonok {
        width: 50%;
    }

    .galleriam {
        max-height: 580px;
        max-width: 900px;
    }

    .oldalgalleriam {
        max-height: 280px;
        max-width: 300px;
    }

    .oldalgalleria {
        max-width: 25vw;
    }






    #feliratkozas .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        width: 70vw;
    }









    /*footer számítógépen több oszlopban legyen*/
    footer {
        flex-direction: row;
        justify-content: space-between;
    }

    footer div p,
    footer div h2 {
        text-align: left;
        /*szövegek balról számítógépen*/
    }

}